@use '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@700&family=M+PLUS+Rounded+1c:wght@700&family=Yellowtail&display=swap');
.logo {
  font-family: 'M PLUS 2', sans-serif;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-family: 'Yellowtail', cursive;
  color: white;
  font-size: 35px;
}
