<h2>検索結果一覧</h2>

<table class="table table-hover table-inverse">
  <!--検索対象モデルがUserの時 -->
  <% if @range == "Friend" %>
    <tbody>
      <% @friends.each do |friend| %>
        <tr>
          <td><%= user.name %></td>
        </tr>
      <% end %>
    </tbody>
  <% else %>
    <!--検索対象モデルがUserではない時(= 検索対象モデルがBookの時) -->
    <tbody>
      <% @plans.each do |plan| %>
        <tr>
          <td><%= plan.title %></td>
          <td><%= plan.body %></td>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</table>
