<div class="container">
  <h2 class="row my-5 justify-content-center pt-5  font-weight-bold">本当に退会しますか？</h2>
  <p class="row my-3 justify-content-center my-3">
    退会すると、登録したフレンドや,これまでのスケジュール内容が閲覧できなくなります。<br>
    退会する場合は、「退会する』をクリックしてください。
  </p>
  
  <div class="row mt-4 justify-content-center">
    <div class="col-2"><%= link_to "退会しない", users_my_page_path, class: "btn btn-primary" %></div>
    <div class="col-2"><%= link_to "退会する", users_quit_path, method: :patch, "date-confirm" => "本当に退会しますか？", class: "btn btn-danger" %></div>
  </div>
</div>
