<div class="container">
  <div class="row">
    <h1 class="col-4">My情報</h1>
    <div class="col-3 btn btn-primary"><%= link_to "編集", users_edit_path %></div>
  </div>
</div>
<table class="table">
  
 
  <tbody>
    <tr>
      <th>氏名</th>
      <th><%= @user.last_name + @user.first_name %></th>
    </tr>
    <tr>
    <th>カナ</th>
    <th><%= @user.last_name_kana + @user.first_name_kana %></th>
    </tr>
    <tr>
      <th>メールアドレス</th>
      <th><%= @user.email %></th>
    </tr>
  </tbody>
</table>



